.contact-section{
    background-color: rgb(15, 15, 63);
    color: #fff;
}
.contact-section .contact i{
    padding: 10px;
    font-size: 14px;
    color: orange;
}
.contact-section .contact span{
    padding-left: 5px;
    vertical-align: 1px;
    color: #fff;
    font-size: 14px;
}
.contact-section .social{
    direction: ltr;
}
.contact-section .social i{
    padding: 10px;
    transition:all 1s ease;
}
.contact-section .social i:hover{
    background-color: orange;
}