.faq-section .faq-bg{
    background-image: url("../img/faq-bg.jpg");
    background-repeat:repeat-y;
}

.faq-section .faq-bg .faq-right-side{
    background-color: #fff;
    margin: 80px 0;
    padding: 50px;
}
.faq-section .faq-bg .faq-right-side ul li{
 margin-bottom: 20px;
}
.faq-section .faq-bg .faq-right-side ul li h6{
    font-size: 16px;
}
.faq-section .faq-bg .faq-right-side ul li h6 i{
    font-size: 32px;
    margin-left: 16px;
    /* font-weight: normal; */
    vertical-align: -5px;
    color:#6b6bff;
}
.faq-section .faq-bg .faq-right-side ul li p{
    font-size: 14px;
    margin: 10px 47px;
    color: rgb(104, 102, 102);
}
.faq-section .faq-bg .faq-left-side {
    margin-top: 80px;

}
.faq-section .faq-bg .faq-left-side .tab input{
    display: none;

}
.faq-section .faq-bg .faq-left-side .tab label{
    font-size: 17px;
    background-color: #6b6bff;
    width: 100%;
    display: inline-block;
    padding: 12px;
    color: #fff;
}
.faq-section .faq-bg .faq-left-side .tab label:after{
    content: "\276f";
    float: left;
    transition: .5s ;
}
.faq-section .faq-bg .faq-left-side .tab input:checked + label:after{

    transform: rotate(-90deg);
}
.faq-section .faq-bg .faq-left-side .tab .tab-content{
    background-color: #fff;
    height: 0;
    overflow-y: scroll;
    transition: .5s ;

}
.faq-section .faq-left-side .tab input:checked ~ .tab-content{
    height: 100px;
    padding: 10px
}