.nav-section{
    box-shadow:1px 2px 6px 0px #dcdcdc;
    position: sticky;
    top: 0;
    background-color: #fff;
    color: rgb(15, 15, 63) ;
    z-index: 999;
}
.nav-section .brand{
    font-size: 38px;
    color: orange;
    /* vertical-align: -8px; */
}
.nav-section a{
    padding: 6px 16px;
    float: right;
    line-height: 46px;
}
.nav-section a:hover{
    border-bottom: 2px solid orange;
}
.nav-section .active{
    border-bottom: 2px solid orange;
}
.nav-section .burger{
    display: none;
}

@media screen and (max-width:600px) {
    .nav-section a:not(:first-child){
        display: none;
    }
    .nav-section a.burger{
        display: block;
        float: left;
    }
.nav-section.responsive {
    position: relative;
}
.nav-section.responsive a.burger{
    position: absolute;
    top: 0;
    left: 0;
}
.nav-section.responsive a{
    display: block;
    float: none;
}
}